@model IEnumerable<StoreApp.DAL.Store>
@using StoreApp.DAL

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createForm">Create</button>
    </div>
</div>
<div>
    @Html.Partial("PartialViews/_Search", new Store())
</div>
<div id="allData">
    @Html.Partial("PartialViews/_ModalPopUp", model: ("createForm", "Add Store", Html.Partial("PartialViews/_Create", new Store())))
</div>

<div>
    @Html.Partial("PartialViews/_StoresTable", Model)
</div>

<style>
    .grid-container {
        margin: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: 200px 800px 200px;
    }

    .grid-item {
        text-align: start;
        padding: 2px;
    }
</style>