@using NonFactors.Mvc.Grid
@model IEnumerable<StoreApp.DAL.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(m => m.Name).Titled("Name");
        columns.Add(m => m.Address).Titled("Address");
        columns.Add(m => m.IsMain).Titled("Is Main");
        columns.Add(m => m.IsInvoiceDirect).Titled("Is Invoice Direct");
    }).Pageable(pager =>
    {
        pager.RowsPerPage = 4;
    })
)
